In [ ]:
#Name:Nikhil Pavan Agrawal
#Roll No:02
#Sec:B
#Subject:ET1
#Date:07/08/2025

# Creating Series

In [6]:
import pandas as pd

In [7]:
Name=["pruthvij","Mihir","Ritesh","Nikhil","Yogesh"]
Name

['pruthvij', 'Mihir', 'Ritesh', 'Nikhil', 'Yogesh']

In [8]:
Roll_list=pd.Series(Name,index=[1,2,3,4,5])
print(Roll_list)

1    pruthvij
2       Mihir
3      Ritesh
4      Nikhil
5      Yogesh
dtype: object

# Creating a Data frame

In [9]:
import pandas as pd

In [10]:
df=pd.DataFrame([[10,12,14,16],[18,20,22,24],[15,17,29,21]],
columns=["CD","DBMS","DSS","CAO"])

In [11]:
df

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  18    20   22   24
2  15    17   29   21

In [12]:
df.shape

(3, 4)

In [13]:
df.size

12

In [14]:
df.ndim

2

# Adding Records(Row) to the Data Frame

In [18]:
import pandas as pd

In [19]:
df2=pd.DataFrame([[15,17,29,21]],
columns=["CD","DBMS","DSS","CAO"])

In [23]:
df3 = pd.concat([df, df2], ignore_index=True)

In [24]:
df3

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  18    20   22   24
2  15    17   29   21
3  15    17   29   21

In [28]:
df3.shape

(4, 4)

In [29]:
df3.size

16

In [31]:
df3.ndim

2

# Adding Attribute (Columns) name DM

In [32]:
df3["DM"]=[12,15,16,14]

In [33]:
df3

   CD  DBMS  DSS  CAO  DM
0  10    12   14   16  12
1  18    20   22   24  15
2  15    17   29   21  16
3  15    17   29   21  14

# Deleting Record from df3 Data Frame

In [36]:
df4=df3.drop(index=[1])

In [37]:
df4

   CD  DBMS  DSS  CAO  DM
0  10    12   14   16  12
2  15    17   29   21  16
3  15    17   29   21  14

# Deleting Attribute (Columns) from df3 Data Frame

In [38]:
df5=df3.drop(columns=["DM"])

In [39]:
df5

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  18    20   22   24
2  15    17   29   21
3  15    17   29   21

In [41]:
print("Mean of DSS:",df5["DSS"].mean())

Mean of DSS: 23.5

In [42]:
print("Median of DSS:",df5["DSS"].median())

Median of DSS: 25.5

In [43]:
print("Mode of DSS:",df5["DSS"].mode())

Mode of DSS: 0    29
Name: DSS, dtype: int64

# Conclusion :
          In this experiment, I have explored the basics of DataFrames by creating Series and DataFrames, adding records and attributes, and performing deletion operations. This helped in understanding the structure and dynamic manipulation capabilities of pandas DataFrames.